# Mastering Concatenation!

Two county organizations that you are a part of, Financial Leaders of America and Investors Leadership Council, have recently joined forces. Help the treasurer out by consolidating the dues and member data.

In [4]:
import pandas as pd
from pathlib import Path

### Read in data

In [5]:
fin_leaders_america_path = Path('../Resources/fin_leaders_america.csv')
investors_leadership_path = Path('../Resources/invstrs_leadership.csv')
fin_leaders_mem_path = Path('../Resources/fin_leaders_members.csv')
investors_leadership_mem_path = Path('../Resources/invstrs_leadership_members.csv')

In [11]:
fin_leader_dues = pd.read_csv(fin_leaders_america_path, index_col='MemberName')
investors_leadership_dues = pd.read_csv(investors_leadership_path, index_col='MemberName')
fin_leader_mem = pd.read_csv(fin_leaders_mem_path, index_col='MemberName')
investor_mem = pd.read_csv(investors_leadership_mem_path, index_col='MemberName')

### Concat dues data using `rows` axis and `inner` join

In [16]:
combined_dues = pd.concat([fin_leader_dues, investors_leadership_dues,], axis="rows", join="inner")
combined_dues

                   DuesOwed  DuesPaid
MemberName
Warren Buffet             0      2500
Janet Yellen            100      2400
Abigail Johnson           0      2500
Larry Fink             2500         0
Warren Buffet             0      2500
Janet Yellen            100      2400
Abigail Johnson           0      2500
Larry Fink             2500         0
Mario Draghi           2500         0
Michael Bloomberg      2500         0
Ray Dalio                 0      2500

### Concat member data using `rows` axis and `inner` join

In [15]:
combined_members = pd.concat([fin_leader_mem, investor_mem,], axis="rows", join="inner")
combined_members

                  MembershipStatus
MemberName
Warren Buffet        Good Standing
Janet Yellen         Good Standing
Abigail Johnson      Good Standing
Larry Fink              Delinquent
Warren Buffet        Good Standing
Janet Yellen         Good Standing
Abigail Johnson      Good Standing
Larry Fink              Delinquent
Mario Draghi            Delinquent
Michael Bloomberg       Delinquent
Ray Dalio            Good Standing

### Concat dues and member data using `columns` axis and `inner` join

In [18]:
#dues_and_mambers = pd.concat([combined_members, combined_dues], axis="columns", join="inner")
#dues_and_mambers

In [21]:
new_df = combined_members.merge(combined_dues, on='MemberName', how = 'inner')
new_df

                  MembershipStatus  DuesOwed  DuesPaid
MemberName
Warren Buffet        Good Standing         0      2500
Warren Buffet        Good Standing         0      2500
Warren Buffet        Good Standing         0      2500
Warren Buffet        Good Standing         0      2500
Janet Yellen         Good Standing       100      2400
Janet Yellen         Good Standing       100      2400
Janet Yellen         Good Standing       100      2400
Janet Yellen         Good Standing       100      2400
Abigail Johnson      Good Standing         0      2500
Abigail Johnson      Good Standing         0      2500
Abigail Johnson      Good Standing         0      2500
Abigail Johnson      Good Standing         0      2500
Larry Fink              Delinquent      2500         0
Larry Fink              Delinquent      2500         0
Larry Fink              Delinquent      2500         0
Larry Fink              Delinquent      2500         0
Mario Draghi            Delinquent      2500         0
Michael Bloomberg       Delinquent      2500         0
Ray Dalio            Good Standing         0      2500